#include <windows.h>
#include "../src/Resource.h"

/* Win32 application icon */
IDI_APPICON ICON                       "compressed.ico"

/* Our main menu */
IDR_MAINMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Refresh all",           ID_FILE_REFRESH_ALL
    MENUITEM "&Exit",                  ID_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",                 ID_HELP_ABOUT
  END
END

IDR_MAINWINDOW DIALOGEX 0, 0, 1000, 1000
BEGIN
  LISTBOX 101, 10, 10, 100, 100
END

/* Application manifest */
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Application.manifest"

/* Executable version information */
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        0,0,0,1
PRODUCTVERSION     0,0,0,1
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS        VS_FF_DEBUG | VS_FF_PRERELEASE
#else
  FILEFLAGS        0
#endif
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName", "TV Show Tracker"
      VALUE "FileDescription", "TV Show Tracker"
      VALUE "FileVersion", "0.0.0.1"
      VALUE "InternalName", "TVShowTracker"
      VALUE "LegalCopyright", "N/A"
      VALUE "OriginalFilename", "TVShowTracker.exe"
      VALUE "ProductName", "TV Show Tracker"
      VALUE "ProductVersion", "0.0.0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200
  END
END

/* Our "about" dialog */
IDD_ABOUTDIALOG DIALOGEX 0, 0, 147, 67
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
  ICON             IDI_APPICON,IDC_STATIC,7,7,20,20
  LTEXT            "TV Show Tracker",IDC_STATIC,34,7,89,8
  LTEXT            "Uses the MovieDB API",IDC_STATIC,34,17,86,8
  DEFPUSHBUTTON    "OK",IDOK,90,46,50,14,WS_GROUP
END

/* Our accelerators */
IDR_ACCELERATOR ACCELERATORS
BEGIN
  "A",             ID_HELP_ABOUT,      VIRTKEY, ALT, NOINVERT
END
